.top {
	display: flex;
	justify-content: space-between;
	align-items: center:
}
 
.media-icons {
	display: flex;
}
 
.img-1 {
	width: 40px;
}
 
.img-2 {
	width: 22px;
}
 
.img-3 {
	width: 22px;
	margin-left: 9px;
}
 
.img-4 {
	width: 22px;
	margin-left: 9px;
 
}
 
.img-5 {
	width: 22px;
	margin-left: 9px;
 
}
 
.link-boxes {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}
 
a {
	text-decoration: none;
	color: grey;
}
 
.bottom-details {
	display: flex;
	justify-content: space-between;
}